# LIBRARIES

In [2]:
#DATA 
import pandas as pd
import numpy as np
#VISUAL
import matplotlib.pyplot as plt
import seaborn as sns
#IMPUTATION
from sklearn.impute import KNNImputer

# ENERGY DATA CLEANING

In [3]:
EnergyData = pd.read_excel(f'OriginalData/ENERGYDATA.xlsx')
EnergyData

,Time Bucket (Asia/Calcutta),Computer - kWatts,Plug Load (kWatts),Air Conditioner-kWatts,light + fan - kWatts
0,2023-10-02 05:45:00,No CT,0.0,0.0,No CT
1,2023-10-02 06:00:00,No CT,0.0,0.0,No CT
2,2023-10-02 06:15:00,No CT,0.0,0.0,No CT
3,2023-10-02 06:30:00,No CT,0.0,0.0,No CT
4,2023-10-02 06:45:00,No CT,0.0,0.0,No CT
...,...,...,...,...,...
31269,2024-01-01 23:00:00,0.0207,0.0,0.0,0
31270,2024-01-01 23:15:00,0.0205,0.0,0.0,0
31271,2024-01-01 23:30:00,0.0206,0.0,0.0,0
31272,2024-01-01 23:45:00,0.0208,0.0,0.0,0
31273,2024-02-01 00:00:00,0.0201,0.0,0.0,0

In [4]:
EnergyData['DateTime'] = pd.to_datetime(EnergyData['Time Bucket (Asia/Calcutta)'], dayfirst=True, errors='coerce')
EnergyData.drop('Time Bucket (Asia/Calcutta)', axis=1, inplace=True)
EnergyData['Computer - kWatts'].replace("No CT", np.nan, inplace=True)
EnergyData['light + fan - kWatts '].replace("No CT", np.nan, inplace=True)
EnergyData

,Computer - kWatts,Plug Load (kWatts),Air Conditioner-kWatts,light + fan - kWatts,DateTime
0,NaN,0.0,0.0,NaN,2023-10-02 05:45:00
1,NaN,0.0,0.0,NaN,2023-10-02 06:00:00
2,NaN,0.0,0.0,NaN,2023-10-02 06:15:00
3,NaN,0.0,0.0,NaN,2023-10-02 06:30:00
4,NaN,0.0,0.0,NaN,2023-10-02 06:45:00
...,...,...,...,...,...
31269,0.0207,0.0,0.0,0.0,2024-01-01 23:00:00
31270,0.0205,0.0,0.0,0.0,2024-01-01 23:15:00
31271,0.0206,0.0,0.0,0.0,2024-01-01 23:30:00
31272,0.0208,0.0,0.0,0.0,2024-01-01 23:45:00
31273,0.0201,0.0,0.0,0.0,2024-02-01 00:00:00

In [5]:
print(EnergyData[260:275])

     Computer - kWatts  Plug Load (kWatts)  Air Conditioner-kWatts  \
260                NaN                 0.0                     0.0
261                NaN                 0.0                     0.0
262                NaN                 0.0                     0.0
263                NaN                 0.0                     0.0
264                NaN                 0.0                     0.0
265                NaN                 0.0                     0.0
266                NaN                 0.0                     0.0
267                NaN                 0.0                     0.0
268                NaN                 0.0                     0.0
269                NaN                 0.0                     0.0
270                NaN                 0.0                     0.0
271                NaN                 0.0                     0.0
272                NaN                 0.0                     0.0
273                NaN                 0.0                     0.0
274                NaN                 0.0                     0.0

     light + fan - kWatts             DateTime
260                    NaN 2023-12-02 22:45:00
261                    NaN 2023-12-02 23:00:00
262                    NaN 2023-12-02 23:15:00
263                    NaN 2023-12-02 23:30:00
264                    NaN 2023-12-02 23:45:00
265                    NaN 2023-02-13 00:00:00
266                    NaN 2023-02-13 00:15:00
267                    NaN 2023-02-13 00:30:00
268                    NaN 2023-02-13 00:45:00
269                    NaN 2023-02-13 01:00:00
270                    NaN 2023-02-13 01:15:00
271                    NaN 2023-02-13 01:30:00
272                    NaN 2023-02-13 01:45:00
273                    NaN 2023-02-13 02:00:00
274                    NaN 2023-02-13 02:15:00

In [4]:
for col in EnergyData.columns:
    print(col)

Computer - kWatts
Plug Load (kWatts)
Air Conditioner-kWatts
light + fan - kWatts
DateTime

In [5]:
EnergyData.dtypes

Computer - kWatts                float64
Plug Load (kWatts)               float64
Air Conditioner-kWatts           float64
light + fan - kWatts             float64
DateTime                  datetime64[ns]
dtype: object

In [6]:
print("total rows :",len(EnergyData))
print("nan computer :",len(EnergyData[EnergyData['Computer - kWatts'].isnull()]))
print("nan light fan :",len(EnergyData[EnergyData['light + fan - kWatts '].isnull()]))

total rows : 31274
nan computer : 12625
nan light fan : 315

In [7]:
EnergyClean = EnergyData.dropna()
EnergyClean

,Computer - kWatts,Plug Load (kWatts),Air Conditioner-kWatts,light + fan - kWatts,DateTime
12625,0.0091,0.0002,0.0003,0.0,2023-06-21 18:00:00
12626,0.0059,0.0001,0.0001,0.0,2023-06-21 18:15:00
12627,0.0038,0.0000,0.0000,0.0,2023-06-21 18:30:00
12628,0.0037,0.0000,0.0001,0.0,2023-06-21 18:45:00
12629,0.0033,0.0000,0.0000,0.0,2023-06-21 19:00:00
...,...,...,...,...,...
31269,0.0207,0.0000,0.0000,0.0,2024-01-01 23:00:00
31270,0.0205,0.0000,0.0000,0.0,2024-01-01 23:15:00
31271,0.0206,0.0000,0.0000,0.0,2024-01-01 23:30:00
31272,0.0208,0.0000,0.0000,0.0,2024-01-01 23:45:00
31273,0.0201,0.0000,0.0000,0.0,2024-02-01 00:00:00

# IAQ DATA CLEANING

In [8]:
IAQ = pd.read_excel(f'OriginalData/Indoor Air Quality.xlsx')
IAQ

,Location,Unnamed: 1,testo 160 IAQ_51616142 [ppm],testo 160 IAQ_51616142 [°C],testo 160 IAQ_51616142 [mbar],testo 160 IAQ_51616142 [%RH],testo 160 IAQ_51616142 [°C td],testo 160 IAQ_51616142 [g/m³]
0,2023-01-01,00:00:00,385,21.7,1010,63.5,14.5,12.1
1,2023-01-01,00:15:00,387,21.7,1010,63.7,14.5,12.2
2,2023-01-01,00:30:00,390,21.7,1010,63.8,14.6,12.2
3,2023-01-01,00:45:00,389,21.7,1010,63.8,14.6,12.2
4,2023-01-01,01:00:00,391,21.7,1010,63.8,14.5,12.2
...,...,...,...,...,...,...,...,...
38940,2024-02-08,23:00:00,355,24.0,1010,59.1,15.5,12.8
38941,2024-02-08,23:15:00,355,23.9,1010,58.9,15.4,12.8
38942,2024-02-08,23:30:00,357,23.9,1010,59.0,15.4,12.8
38943,2024-02-08,23:45:00,353,23.9,1010,59.1,15.4,12.8
38944,2024-02-09,00:00:00,351,23.9,1010,59.2,15.4,12.8

In [9]:
IAQ['DateTime'] = IAQ['Location'].astype(str) + ' ' + IAQ['Unnamed: 1'].astype(str)
IAQ['DateTime'] = pd.to_datetime(IAQ['DateTime'], errors='coerce')
IAQ = IAQ.drop(['Location', 'Unnamed: 1'], axis=1)
IAQ['testo 160 IAQ_51616142 [ppm]'].replace("###", np.nan, inplace=True)
IAQ

,testo 160 IAQ_51616142 [ppm],testo 160 IAQ_51616142 [°C],testo 160 IAQ_51616142 [mbar],testo 160 IAQ_51616142 [%RH],testo 160 IAQ_51616142 [°C td],testo 160 IAQ_51616142 [g/m³],DateTime
0,385.0,21.7,1010,63.5,14.5,12.1,2023-01-01 00:00:00
1,387.0,21.7,1010,63.7,14.5,12.2,2023-01-01 00:15:00
2,390.0,21.7,1010,63.8,14.6,12.2,2023-01-01 00:30:00
3,389.0,21.7,1010,63.8,14.6,12.2,2023-01-01 00:45:00
4,391.0,21.7,1010,63.8,14.5,12.2,2023-01-01 01:00:00
...,...,...,...,...,...,...,...
38940,355.0,24.0,1010,59.1,15.5,12.8,2024-02-08 23:00:00
38941,355.0,23.9,1010,58.9,15.4,12.8,2024-02-08 23:15:00
38942,357.0,23.9,1010,59.0,15.4,12.8,2024-02-08 23:30:00
38943,353.0,23.9,1010,59.1,15.4,12.8,2024-02-08 23:45:00
38944,351.0,23.9,1010,59.2,15.4,12.8,2024-02-09 00:00:00

In [10]:
IAQ.dtypes

testo 160 IAQ_51616142 [ppm]             float64
testo 160 IAQ_51616142 [°C]              float64
testo 160 IAQ_51616142 [mbar]              int64
testo 160 IAQ_51616142 [%RH]             float64
testo 160 IAQ_51616142 [°C td]           float64
testo 160 IAQ_51616142 [g/m³]            float64
DateTime                          datetime64[ns]
dtype: object

In [11]:
print("total rows :",len(IAQ))
print("nan computer :",len(IAQ[IAQ['testo 160 IAQ_51616142 [ppm]'].isnull()]))

total rows : 38945
nan computer : 54

KNN IMPUTATION

In [12]:
# Select only numeric columns for imputation
numeric_cols = IAQ.select_dtypes(include=[np.number]).columns
imputer = KNNImputer(n_neighbors=3)  # Choose k=5 (can be tuned)

# Apply KNN imputation
IAQ[numeric_cols] = imputer.fit_transform(IAQ[numeric_cols])

In [13]:
IAQ

,testo 160 IAQ_51616142 [ppm],testo 160 IAQ_51616142 [°C],testo 160 IAQ_51616142 [mbar],testo 160 IAQ_51616142 [%RH],testo 160 IAQ_51616142 [°C td],testo 160 IAQ_51616142 [g/m³],DateTime
0,385.0,21.7,1010.0,63.5,14.5,12.1,2023-01-01 00:00:00
1,387.0,21.7,1010.0,63.7,14.5,12.2,2023-01-01 00:15:00
2,390.0,21.7,1010.0,63.8,14.6,12.2,2023-01-01 00:30:00
3,389.0,21.7,1010.0,63.8,14.6,12.2,2023-01-01 00:45:00
4,391.0,21.7,1010.0,63.8,14.5,12.2,2023-01-01 01:00:00
...,...,...,...,...,...,...,...
38940,355.0,24.0,1010.0,59.1,15.5,12.8,2024-02-08 23:00:00
38941,355.0,23.9,1010.0,58.9,15.4,12.8,2024-02-08 23:15:00
38942,357.0,23.9,1010.0,59.0,15.4,12.8,2024-02-08 23:30:00
38943,353.0,23.9,1010.0,59.1,15.4,12.8,2024-02-08 23:45:00
38944,351.0,23.9,1010.0,59.2,15.4,12.8,2024-02-09 00:00:00

# OAQ DATA CLEANING

In [14]:
OAQ = pd.read_excel(f'OriginalData/Outdoor Air Quality.xlsx')
OAQ

,Location,Unnamed: 1,testo 160 IAQ_51616135_outdoor [ppm],testo 160 IAQ_51616135_outdoor [°C],testo 160 IAQ_51616135_outdoor [mbar],testo 160 IAQ_51616135_outdoor [%RH],testo 160 IAQ_51616135_outdoor [°C td],testo 160 IAQ_51616135_outdoor [g/m³]
0,2023-02-14,00:00:00,401,22.0,1008,48.7,10.7,9.4
1,2023-02-14,00:15:00,399,21.8,1008,48.1,10.4,9.2
2,2023-02-14,00:30:00,391,21.7,1008,46.4,9.7,8.9
3,2023-02-14,00:45:00,391,21.6,1008,45.8,9.5,8.7
4,2023-02-14,01:00:00,389,21.5,1008,45.2,9.2,8.5
...,...,...,...,...,...,...,...,...
31007,2024-01-27,07:15:00,221,14.8,1014,81.7,11.7,10.3
31008,2024-01-27,07:30:00,225,15.0,1015,81.6,11.9,10.5
31009,2024-01-27,07:45:00,224,15.2,1015,80.4,11.9,10.4
31010,2024-01-27,08:00:00,216,15.4,1015,79.7,11.9,10.5
31011,2024-01-27,08:15:00,215,15.7,1015,78.2,11.9,10.5

In [15]:
OAQ['DateTime'] = OAQ['Location'].astype(str) + ' ' + OAQ['Unnamed: 1'].astype(str)
OAQ['DateTime'] = pd.to_datetime(OAQ['DateTime'], errors='coerce')
OAQ = OAQ.drop(['Location', 'Unnamed: 1'], axis=1)
OAQ['testo 160 IAQ_51616135_outdoor [ppm]'].replace("###", np.nan, inplace=True)
OAQ

,testo 160 IAQ_51616135_outdoor [ppm],testo 160 IAQ_51616135_outdoor [°C],testo 160 IAQ_51616135_outdoor [mbar],testo 160 IAQ_51616135_outdoor [%RH],testo 160 IAQ_51616135_outdoor [°C td],testo 160 IAQ_51616135_outdoor [g/m³],DateTime
0,401.0,22.0,1008,48.7,10.7,9.4,2023-02-14 00:00:00
1,399.0,21.8,1008,48.1,10.4,9.2,2023-02-14 00:15:00
2,391.0,21.7,1008,46.4,9.7,8.9,2023-02-14 00:30:00
3,391.0,21.6,1008,45.8,9.5,8.7,2023-02-14 00:45:00
4,389.0,21.5,1008,45.2,9.2,8.5,2023-02-14 01:00:00
...,...,...,...,...,...,...,...
31007,221.0,14.8,1014,81.7,11.7,10.3,2024-01-27 07:15:00
31008,225.0,15.0,1015,81.6,11.9,10.5,2024-01-27 07:30:00
31009,224.0,15.2,1015,80.4,11.9,10.4,2024-01-27 07:45:00
31010,216.0,15.4,1015,79.7,11.9,10.5,2024-01-27 08:00:00
31011,215.0,15.7,1015,78.2,11.9,10.5,2024-01-27 08:15:00

In [16]:
OAQ.dtypes

testo 160 IAQ_51616135_outdoor [ppm]             float64
testo 160 IAQ_51616135_outdoor [°C]              float64
testo 160 IAQ_51616135_outdoor [mbar]              int64
testo 160 IAQ_51616135_outdoor [%RH]             float64
testo 160 IAQ_51616135_outdoor [°C td]           float64
testo 160 IAQ_51616135_outdoor [g/m³]            float64
DateTime                                  datetime64[ns]
dtype: object

In [17]:
print("nan computer :",len(OAQ[OAQ['testo 160 IAQ_51616135_outdoor [ppm]'].isnull()]))

nan computer : 45

KNN IMPUTATION

In [18]:
# Select only numeric columns for imputation
numeric_cols = OAQ.select_dtypes(include=[np.number]).columns
imputer = KNNImputer(n_neighbors=3)  # Choose k=5 (can be tuned)

# Apply KNN imputation
OAQ[numeric_cols] = imputer.fit_transform(OAQ[numeric_cols])

In [19]:
OAQ

,testo 160 IAQ_51616135_outdoor [ppm],testo 160 IAQ_51616135_outdoor [°C],testo 160 IAQ_51616135_outdoor [mbar],testo 160 IAQ_51616135_outdoor [%RH],testo 160 IAQ_51616135_outdoor [°C td],testo 160 IAQ_51616135_outdoor [g/m³],DateTime
0,401.0,22.0,1008.0,48.7,10.7,9.4,2023-02-14 00:00:00
1,399.0,21.8,1008.0,48.1,10.4,9.2,2023-02-14 00:15:00
2,391.0,21.7,1008.0,46.4,9.7,8.9,2023-02-14 00:30:00
3,391.0,21.6,1008.0,45.8,9.5,8.7,2023-02-14 00:45:00
4,389.0,21.5,1008.0,45.2,9.2,8.5,2023-02-14 01:00:00
...,...,...,...,...,...,...,...
31007,221.0,14.8,1014.0,81.7,11.7,10.3,2024-01-27 07:15:00
31008,225.0,15.0,1015.0,81.6,11.9,10.5,2024-01-27 07:30:00
31009,224.0,15.2,1015.0,80.4,11.9,10.4,2024-01-27 07:45:00
31010,216.0,15.4,1015.0,79.7,11.9,10.5,2024-01-27 08:00:00
31011,215.0,15.7,1015.0,78.2,11.9,10.5,2024-01-27 08:15:00

# MERGE DATA

In [20]:
AirQuality = pd.merge(OAQ, IAQ, on='DateTime', how='inner')

In [21]:
Merged = pd.merge(AirQuality, EnergyClean, on='DateTime', how='inner')

In [22]:
Merged

,testo 160 IAQ_51616135_outdoor [ppm],testo 160 IAQ_51616135_outdoor [°C],testo 160 IAQ_51616135_outdoor [mbar],testo 160 IAQ_51616135_outdoor [%RH],testo 160 IAQ_51616135_outdoor [°C td],testo 160 IAQ_51616135_outdoor [g/m³],DateTime,testo 160 IAQ_51616142 [ppm],testo 160 IAQ_51616142 [°C],testo 160 IAQ_51616142 [mbar],testo 160 IAQ_51616142 [%RH],testo 160 IAQ_51616142 [°C td],testo 160 IAQ_51616142 [g/m³],Computer - kWatts,Plug Load (kWatts),Air Conditioner-kWatts,light + fan - kWatts
0,399.0,26.5,1007.0,54.1,16.5,13.6,2023-03-07 00:00:00,387.0,29.5,1008.0,47.4,17.1,14.0,0.0000,0.0,0.0,0.0
1,397.0,26.4,1007.0,53.5,16.2,13.3,2023-03-07 00:15:00,387.0,29.4,1008.0,47.5,17.1,14.0,0.0000,0.0,0.0,0.0
2,401.0,26.3,1007.0,54.4,16.4,13.5,2023-03-07 00:30:00,391.0,29.4,1008.0,47.5,17.1,14.0,0.0000,0.0,0.0,0.0
3,400.0,26.2,1007.0,53.5,16.0,13.2,2023-03-07 00:45:00,389.0,29.4,1008.0,47.5,17.0,13.9,0.0000,0.0,0.0,0.0
4,402.0,26.2,1007.0,52.5,15.8,13.0,2023-03-07 01:00:00,385.0,29.3,1008.0,47.3,17.0,13.9,0.0000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15609,243.0,18.2,1010.0,82.0,15.1,12.8,2024-01-01 22:45:00,344.0,20.9,1010.0,70.5,15.4,12.9,0.0206,0.0,0.0,0.0
15610,250.0,18.2,1010.0,82.0,15.1,12.8,2024-01-01 23:00:00,338.0,20.9,1010.0,70.6,15.4,12.9,0.0207,0.0,0.0,0.0
15611,255.0,18.1,1010.0,82.3,15.0,12.7,2024-01-01 23:15:00,346.0,20.9,1010.0,70.6,15.4,12.9,0.0205,0.0,0.0,0.0
15612,256.0,18.1,1010.0,82.6,15.1,12.8,2024-01-01 23:30:00,346.0,20.9,1010.0,70.6,15.4,12.9,0.0206,0.0,0.0,0.0
15613,252.0,18.2,1010.0,81.4,15.0,12.7,2024-01-01 23:45:00,346.0,20.9,1009.0,70.8,15.4,12.9,0.0208,0.0,0.0,0.0

In [23]:
Merged.to_excel("Merged.xlsx", index=False)

In [25]:
df = pd.read_excel(f'CleanData/Merged.xlsx')

In [26]:
stats = df.agg(['min', 'max', 'mean', 'std'])

print(stats)

      testo 160 IAQ_51616135_outdoor [ppm]  \
min                             220.000000
max                             573.000000
mean                            408.679390
std                              62.571841

      testo 160 IAQ_51616135_outdoor [°C]  \
min                             14.400000
max                             39.400000
mean                            27.119515
std                              4.557478

      testo 160 IAQ_51616135_outdoor [mbar]  \
min                              988.000000
max                             1015.000000
mean                            1002.057833
std                                6.229347

      testo 160 IAQ_51616135_outdoor [%RH]  \
min                              17.800000
max                              92.600000
mean                             75.696452
std                              12.731233

      testo 160 IAQ_51616135_outdoor [°C td]  \
min                                 8.900000
max                                28.700000
mean                               22.157250
std                                 4.746966

      testo 160 IAQ_51616135_outdoor [g/m³]                       DateTime  \
min                                8.000000            2023-03-07 00:00:00
max                               27.900000            2024-01-01 23:45:00
mean                              19.886570  2023-09-07 21:56:17.565005824
std                                5.024975     80 days 06:15:19.866260540

      testo 160 IAQ_51616142 [ppm]  testo 160 IAQ_51616142 [°C]  \
min                     301.000000                    18.200000
max                    1533.000000                    35.900000
mean                    416.488429                    27.960561
std                     132.167315                     3.991405

      testo 160 IAQ_51616142 [mbar]  testo 160 IAQ_51616142 [%RH]  \
min                      988.000000                     31.800000
max                     1015.000000                     82.700000
mean                    1001.893429                     66.660228
std                        6.311491                      8.785113

      testo 160 IAQ_51616142 [°C td]  testo 160 IAQ_51616142 [g/m³]  \
min                         9.900000                       8.900000
max                        27.700000                      26.400000
mean                       21.014423                      18.327091
std                         3.971165                       4.003123

      Computer - kWatts  Plug Load (kWatts)  Air Conditioner-kWatts  \
min            0.000000            0.000000                0.000000
max            0.153600            0.156800                0.915900
mean           0.013985            0.000808                0.025357
std            0.014631            0.005021                0.134713

      light + fan - kWatts
min                0.000000
max                0.105100
mean               0.006059
std                0.020740